<div style="background-color: red; height: 50px; padding: 7px; justify-content: center;">
    <a style="color: white; font-size: x-large; margin: 10px; padding-top: 40px; padding-bottom: 40px;">Productos Angular</a>
</div>
<app-navbar></app-navbar>

<div class="container" style="background-color: rgb(228, 224, 224); text-align: left;  margin: 100px;">
  
  <h1 style="padding-left: 100px; padding-top: 50px;">Webapp de productos con Angular</h1>
  <p style="padding-left: 100px;">Gestiona tus productos con la aplicación web SPA creada con Angular</p>
  <div style="padding-left: 100px;padding-bottom: 50px;" >
    <a class="btn btn-primary" style="margin-right: 10px;" >+ Increment</a>
    <a class="btn btn-success">- Decrement</a>
  </div>
  
</div>

