<style>
  .btn-circle.btn-xl {
              width: 70px;
              height: 70px;
              padding: 10px 16px;
              border-radius: 35px;
              font-size: 12px;
              text-align: center;
          }
</style>

<div class="container">
  <h1>FRAMEWORK ANGULAR</h1>
  <br>
  <input #listav type="text">
  <button class="btn btn-primary btn-circle btn-xl" (click)='incrementarItem(listav.value)'>Empezar</button>
    <ul>
      <li *ngFor="let item of lista">{{item}}</li>
    </ul>
</div>