<style>
  h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h5{
    margin-top: 20px;
    margin-bottom: 20px;
  }
    img{
        height: 30%;
        width: 40%;
    }
    span{
      font-weight: normal;
    }
</style>
<div class="container">
    <div class="row align-items-start">
      <div class="col-3">
        <app-aside></app-aside>
      </div>
      <div class="col-9">
        <app-cabecera></app-cabecera>
        <div>
            <h3>Nombre del Pais: <span>Perú</span></h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Flag_of_Peru_%281884%E2%80%931950%29.svg/220px-Flag_of_Peru_%281884%E2%80%931950%29.svg.png" class="card-img-top" alt="Chile">
            <h5>Datos Generales.</h5>
            <p>Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos. 
                El Perú es uno de los países más variados del mundo. Un país multicultural, lleno de tradiciones, una laureada gastronomía y vastas reservas naturales.
            </p>
        </div>
      </div>
    </div>
  </div>
