<style>
  h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  img{
      height: 30%;
      width: 40%;
  }
  span{
    font-weight: normal;
  }
  h5{
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>
<div class="container">
    <div class="row align-items-start">
      <div class="col-3">
        <app-aside></app-aside>
      </div>
      <div class="col-9">
        <app-cabecera></app-cabecera>
        <div>
            <h3>Nombre del Pais: <span>Chile</span></h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Flag_of_Chile.svg/1200px-Flag_of_Chile.svg.png" class="card-img-top" alt="Chile">
            <h5>Datos Generales.</h5>
            <p>Chile es un país largo y angosto que se extiende por el borde occidental de Sudamérica, con más de 6,000 km de costa en el océano Pacífico. Santiago, su capital, se ubica en un valle rodeado de los Andes y la cordillera de la Costa. En la Plaza de Armas de la ciudad, bordeada de palmeras, se encuentra la catedral neoclásica y el Museo de Historia Nacional. El enorme Parque Metropolitano cuenta con piscinas, un jardín botánico y un zoológico</p>
        </div>
      </div>
    </div>
  </div>
