<div class="container">
    <h1>TAREA ASINCCRONA</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

        <h3>Inicio de sesión - Formulario reactivo</h3>
        <label>Nombre</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid':  registerForm.get('name')!.errors }" />
        <div *ngIf="registerForm.get('name')!.errors" class="invalid-feedback">
            <div *ngIf="registerForm.get('name')!.hasError('required')">El nombre es obligatorio</div>
            <div *ngIf="registerForm.get('name')!.hasError('minLength')">El nombre tiene menos de 10 caracteres</div>
        </div>
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': registerForm.get('email')!.errors }" />
        <div *ngIf="registerForm.get('email')!.errors" class="invalid-feedback">
            <div *ngIf="registerForm.get('email')!.hasError('required')">El email es obligatorio</div>
            <div *ngIf="registerForm.get('email')!.hasError('email')">El email debe de ser válido</div>
        </div>
        <label>Mensaje</label>
        <textarea type="text" formControlName="mensaje" class="form-control" [ngClass]="{ 'is-invalid':  registerForm.get('mensaje')!.errors }" > </textarea>
        <div *ngIf="registerForm.get('mensaje')!.errors" class="invalid-feedback">
            <div *ngIf="registerForm.get('mensaje')!.hasError('required')">El mensaje es obligatorio</div>
        </div>
        
        <div class="text-center" style="margin: 10px;">
            <button class="btn btn-primary mr-1" [disabled]="registerForm.invalid" style="margin: 10px;">Registrarse</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
        </div>
    </form>
    <div *ngIf="element == true">
        <p>*Todos los controles se encuentran correctamente ingresados</p></div>
</div>



