<style>
  h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h5{
    margin-top: 20px;
    margin-bottom: 20px;
  }
    img{
        height: 30%;
        width: 40%;
    }
    span{
      font-weight: normal;
    }
</style>
<div class="container">
    <div class="row align-items-start">
      <div class="col-3">
        <app-aside></app-aside>
      </div>
      <div class="col-9">
        <app-cabecera></app-cabecera>
        <div>
            <h3>Nombre del Pais: <span>Uruaguay</span></h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Uruguay.svg/1200px-Flag_of_Uruguay.svg.png" class="card-img-top" alt="Chile">
            <h5>Datos Generales.</h5>
            <p>Uruguay es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital, Montevideo, se ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española. Esta lleva a la Ciudad Vieja, casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes. La Rambla es un paseo costero con puestos de pescados, muelles y parques.</p>
        </div>
      </div>
    </div>
  </div>

