<div class="card border-primary mb-3" style="margin-top: 15px;">
    <div class="card-header">CURSOS</div>
    <div class="card-body text-primary">
      <h5 class="card-title" style="font-size: 40px;">Listado de Cursos</h5>
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-success" type="button" style="width: 250px; " [routerLink]="['/cursos/form']">
          CREAR CURSO
        </button>
      </div>
      <table class="table table-bordered  table-hover" style="text-align: center;">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CREDITOS</th>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
          </tr>
        </thead>
        <tbody class="table-info">
          <tr *ngFor="let curso of cursos">
            <td>{{ curso.id }}</td>
            <td>{{ curso.nombre }}</td>
            <td>{{ curso.creditos }}</td>
            <td>
              <button type="button" name="editar" [routerLink]="['/cursos/form', curso.id]"  class="btn btn-info btn-sm">Editar</button>
            </td>
            <td>
              <button type="button" name="eliminar"  (click)='delete(curso)' class="btn btn-danger btn-sm">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  
