<div class="container text-center">
  <br>
    <div class="row" >
      <div class="col-4">
      </div>
      <div class="col-4">
        <div class="card" >
            <div>
              <br>
              CONTEO
            </div>
            <div class="card-body">
              <h1 class="card-title" style="font-size: 100px;">{{contador}}</h1>
              <a class="btn btn-success" (click)='increment()' style="margin: 10px">+ Increment</a>
              <a class="btn btn-danger"(click)='decrement()'>- Decrement</a>
            </div>
          </div>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
