<style>
  nav{
    border: 2px; 
    box-shadow: 2px 2px 5px #999;
  }
  span{
    font-size: 70%;
    color: #999;
  }
  #cajas{
    margin-top:50px;
    width:900px;
  }
  .card{
    height: 325px;
  }
  .card-text{
    margin: 5px;
  }
  #btCjas{
    margin-top: 20px;
    width:250px;
    height:40px;
  }
</style>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CERTUS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav ">
        <li class="nav-item">
          <a class="nav-link" href="#">Caracteristicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Soporte para Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ">Precios</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-outline-primary" type="submit">INSCRIBIRSE</button>
  </div>
</nav>

  <div class="container text-center" id="cajas">
    <h1>Precio</h1>
    <p>Adquiere uno de nuestros planes en promoción.</p>
    <div class="row justify-content-start">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            LIBRE
          </div>
          <div class="card-body">
            <h1 class="card-title">$0<span>/mes</span></h1>
            <p class="card-text">10 usuarios incuidos</p>
            <p class="card-text">2GB de almacenamiento</p>
            <p class="card-text">Soporte de correo Electronico</p>
            <p class="card-text">Acesso al centro de ayuda</p>
            <a href="#" class="btn btn-outline-primary" id="btCjas">REGISTRAR</a>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Pro
          </div>
          <div class="card-body">
            <h1 class="card-title">$15<span>/mes</span></h1>
            <p class="card-text">20 usuarios incuidos</p>
            <p class="card-text">10GB de almacenamiento</p>
            <p class="card-text">Soporte de correo Electronico</p>
            <p class="card-text">Acesso al centro de ayuda</p>
            <a href="#" class="btn btn-primary" id="btCjas">EMPEZAR</a>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Empresa
          </div>
          <div class="card-body">
            <h1 class="card-title">$29<span>/mes</span></h1>
            <p class="card-text">30 usuarios incuidos</p>
            <p class="card-text">15GB de almacenamiento</p>
            <p class="card-text">Soporte telefonico y por correo electronico</p>
            <p class="card-text">Acesso al centro de ayuda</p>
          <a href="#" class="btn btn-primary" id="btCjas">CONTACTANOS</a>
          </div>
        </div>
      </div>

    </div>
